.h1
{
    color:#31344B;
    font-family: "Nunito Sans", "sans-serif";
    font-weight: 400;
    text-align:center;
    padding-top: 2rem;
    padding-bottom:2rem;
}

body
{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    text-align: left;
    background-color: #e6e7ee!important;
    font-family: "Nunito Sans", "sans-serif"!important;
    overflow-x: hidden;
}
.shadow-inset {
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #FFFFFF !important;
}
.shadow-soft {
    box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff !important;
}
.button-input
{
    display: block;
    color: #31344b!important;
    background-color: #e6e7ee!important;
    box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #ffffff;
    
}

/* ABOUT */
.about-details h4
{
    font-size: 21px;
    margin:20px;
    color: #44476A!important;
}
.about-main
{
    padding-bottom:3rem;
}

/* EDUCATION */
.education-main
{
    padding-bottom:3rem;
}
.education-details h2 a
{
    text-align: justify;
    padding-left:auto;
    padding-right: auto;
    color:#31344B;
    font-family: "Nunito Sans", "sans-serif";
    text-decoration: none;
}


/* SKILLS */
.skills-details
{
    margin: 2rem;
}
.skills-image img
{
    display: block;
    
    margin-left: auto;
    margin-right: auto;
}
.skills-main
{
    padding-bottom:3rem;
}
.skills-list li
{
    text-align: left;
    list-style: none;
}
.skills-list .lis-items
{
    font-size: 1.5rem;
    margin-bottom:0.4rem;
}

.list-image
{
    width: auto;
    height:3rem;
}
.skills
{
    padding:1.5rem;
}


/* CONTACT */
label
{
    color: #31344b;
}
.contact-main
{
    padding-bottom:3rem;
}
.form-input
{
    background-color: #e6e7ee !important;
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #FFFFFF !important;
    color: #31344b;
}

.contact-details form
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* ACHIVEMENTS */
.achivements-main
{
    padding-bottom: 3rem;
}

.achivements-image img
{
    margin-top: -4rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.achivements-card
{
    width: auto;
    text-align:justify;
    
}
.achivements-card a
{
    text-decoration:none;
    color: #31344b;
}
.achivements-card a:hover
{
    text-decoration:none;
    color: #31344b;
}

/* PROJECTS */
.projects-main
{
    padding-bottom:1rem;
}
.projects-image img
{
    margin-top: -4rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.projects-card
{
    margin:2.50rem;
}
.projects img
{
    background-color: black;;
}



/* FOOTER */

.icon span, .icon svg {
    font-size: 2.25rem;
}



footer .icon
{
    margin-top:1rem;
    font-size: 1.3rem;
    color:rgb(49, 55, 117);
    
}
footer .social-icon
{
    font-size: 1.5rem;
    border-radius: 100%;
}

.btn.btn-pill {
    border-radius: 2rem;
}
.btn-icon-only {
    position: relative;
    width: 2.975rem;
    height: 2.975rem;
    padding: 0;
}
.btn {
    border-color: #D1D9E6;
    box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #ffffff;
}

.btn {
    border: 0.0625rem solid transparent;
    border-radius: 0.55rem;
    
}


footer img
{
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #FFFFFF !important;
    border-radius: 100%;
    height:70px;
}


/* INTRO */
.intro-image img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:33rem;
}


/* PROFESSION */
.profession-main .social-icon
{
    font-size: 1.5rem;
    border-radius: 100%;
}
.profession-main 
{
    padding-left:2rem;
    padding-bottom: rem;
}

.rounded-circle {
    border-radius: 50% !important;
}
.border-light {
    border-color: #D1D9E6 !important;
}
.border {
    border: 0.0625rem solid #fafbfe !important;
}
.card-img-top {
    width: 100%;
}
.profession-image img
{
    width:24rem;
}
.profession-margin
{
    margin:2.5rem;
}
.profession-details
{
    margin-top: 6.5rem;;
    /* padding-top:1rem; */
    height:18rem;
    
}
.animation-text-1
{
    
    font-size:2.0rem;
    text-align: center;
    color: rgb(74, 75, 87);
}
.profession-main a:hover
{
    text-decoration: none;

}
.wrap
{
    font-size:2.0rem;
    text-align: center;
    color: rgb(74, 75, 87);
}
h1
{
    font-size:2.0rem;
    text-align: center;
    
    color: rgb(74, 75, 87);
}




/* HEADER */
.mobile-space
{
    display: none;
}
.header-mobile
{
    display:none;
}
.menu
{
    display: none;
}
.header img
{
    height:60px;
}
.header-image
{
    margin-top:0.1rem;
    margin-left: 3rem;
   
}
.header-list
{
    padding-left:1rem!important;
    padding-right:1rem!important;
}
.header-list a
{
    color:#44476A!important;
    font-size:1.1rem!important;
    padding-left:0.8rem!important;
    padding-right:0.8rem!important;
}
.margin-space
{
    margin-left:1rem;
}
.header-list a:hover
{
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #FFFFFF !important;
    border-radius: 1rem;
}
.header ul {
        margin-left: auto;
        margin-right: auto;

  }
.header
{
    position: sticky!important;
    top: 0!important;
    width: 100%!important;
    z-index: 100!important;
    background-color:#e6e7ee;
}


/* TypeWriter effect
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect 
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(74, 75, 87); }
  } */

 /* .animation-text
{
     display:block;
    overflow: hidden;

    font-size:2.5rem;
     text-align: center; 
     padding-top:3rem;
    padding-bottom:0rem; 
    color: rgb(74, 75, 87);
    animation: 
    typing 3.5s steps(60, end),
    blink-caret .75s step-end infinite; 
} */